
.Layout {
  height: 100vh;
  background: white;
  //global将index作为父元素，限制了类型的使用范围
  :global {
    .ant-layout {
      color: green;
      height: 100%;
    }

    .imgInfo {
      width: 100%;
    }

    .Menu {
      width: 100% !important;
    }
  }
}