.Article {
  height: 100%;
  //内容超出自动产生滚动条
  overflow-y: scroll;

  :global {
    .site-card-border-less-wrapper {
      padding: 20px !important;
    }

    .ant-card {
      width: 100% !important;
    }
  }
}